 <ion-view view-title="Second page">

          <ion-content class="padding">

              <div class="list">

                  <a class="item item-icon-left" href="#">
                      <i class="icon ion-email"></i>
                      {{ data_information.email }}
                  </a>

                  <a class="item item-icon-left" href="#">
                      <i class="icon ion-chatbubble-working"></i>
                      {{ data_information.first_name }}
                  </a>

                  <a class="item item-icon-left" href="#">
                      <i class="icon ion-person-stalker"></i>
                       {{ data_information.last_name }}
                  </a>

              </div>

          </ion-content>

      </ion-view>