.recuadro {
  width: 300px; }
  .recuadro .mensaje {
    border: 1px solid red; }
    .recuadro .mensaje .titulo {
      color: red; }
  .recuadro .usuario {
    border: 2px solid black; }
    .recuadro .usuario .titulo {
      color: black; }
